{% extends 'base.html'%}

{% block title %} Sign Up {%endblock%}

{% block content %}
    <div class="form-container">
        <h1 class="m-3"> Register User </h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group m-5">
                {{ form.username.label }}
                {{ form.username(class_='field-input m-2') }}
                &nbsp;
                {{ form.email.label }}
                {{ form.email(class_='field-input m-2') }}
            </div>
            <div class="form-group m-5 ">
                {{ form.password.label }}
                {{ form.password(class_='field-input m-2') }}
                &nbsp;
                {{ form.name.label }}
                {{ form.name(class_='field-input m-2') }}
            </div>
            <div class="form-group m-5">
                {{ form.age.label (class_='m-3')}}
                {{ form.age(class_='field-input m-2') }}
            </div>
            <div class="form-group m-5">
                {{ form.gender.label }}
                {{ form.gender(class_='field-input m-2') }}
            </div>
            <div class="text-left">
                {{ form.submit(class="btn btn-outline-secondary m-5") }}
            </div>
        </form>
    </div>



{%if error%}
    <p style="color:red;">{{error}}</p>
{%endif%}
{%endblock%}